body {
    font-family: 'Trirong', serif !important;
    background: #f2f8ff !important;
}

.progress.right .progress-bar {
    float: right;
}
.progress.progress-blue {
    background-color: lightskyblue !important;
}

.extras-panel-title {
    text-align: center;
    font-weight: 400;
}

.extras-panel {
    width: 30%;
    float: left;
    height: 400px;
    margin-right: 10px;
    box-shadow: 3px 3px 4px lightgrey !important;
}

.answer-button {
    box-shadow: 3px 3px 4px lightgrey;
    font-size: 18px !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.rsvpPanelBG {
    background-image: url("./../../assets/images/rsvp_flowers2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rsvpPanelBGView {
    background-image: url("./../../assets/images/rsvp_flowers.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gold-line {
    width: 60%;
    border-top-color: #e0c530;
    border-top-width: 2px;
    float: left;
    margin-top: 9px;
}

.vertical-line {
    border-style: solid;
    border-right: 1px;
    border-width: thin;
    margin-left: 5px;
    margin-right: 5px;
}

.border {
    padding: 0px;
}

.garden-board {
    width: 280px;
    padding: 0px;
}
.garden-outer-board {
    width: 344px;
    margin-left: 136px;
}
.garden-board-col {
    padding-left: 0px;
    padding-right: 0px;
    width: 76px;
    height: 76px;
    float: left;
}
.garden-board-row {
    margin-bottom: 1px;
}
div.empty-square {
    width: 76px;
    height: 76px;
    background: white;
}

.addImgBorder {
    border: 1px solid #000000;
}

.scheduleBG {
    background-image: url("./../../assets/images/forest_background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcomeBG {
    background: url("./../../assets/images/sitting_on_hill_backs.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.getting-married-text {
    font-family: 'Rouge Script', cursive;
    font-size: 60px;
}

.scheduleBG {
    background: url("./../../assets/images/sutro_baths_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.travelBG {
    background: url("./../../assets/images/travel-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rsvpBG {
    background: url("./../../assets/images/hilltop_sun.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}