body {
    font-family: 'Trirong', serif !important;
    background: #f2f8ff !important;
}

.progress.right .progress-bar {
    float: right;
}
.progress.progress-blue {
    background-color: lightskyblue !important;
}

.extras-panel-title {
    text-align: center;
    font-weight: 400;
}

.extras-panel {
    width: 30%;
    float: left;
    height: 400px;
    margin-right: 10px;
    box-shadow: 3px 3px 4px lightgrey !important;
}

.answer-button {
    box-shadow: 3px 3px 4px lightgrey;
    font-size: 18px !important;
}